/**font-family: 'Shadows Into Light Two', cursive;
font-family: 'Poppins', sans-serif;*/


h1, h2, h3, h4 {
  font-family: 'Shadows Into Light Two', cursive;
}

.panel-title {
  font-size: 35px;
}

p {
  font-family: 'Poppins', sans-serif;
}

.area {
  padding: 10px 0 10px 0;
}

.padme {
  padding: 10px 0 10px
}
.btn {
  padding:6px;
}

#find-me {
  width: 25px;
  height: auto;
  float: right;
}

#location {
  font-size: 35px;
  border-radius: 50%;
margin:40px;
}


img {
  margin: 15px;
}

code {
  color: black;
  background-color: transparent;
  outline: 0;
}
.icons {

width:170px;
background-image: url("http://cliparts101.com/files/411/6D9F0580A8672AFCEF4E28238FB092E9/Cartoon_Cloud.png");
border-radius: 50%;

}
